body {
    background-color: rgb(27, 61, 68);
    color: #F1F4F9;
    margin: 0;
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;

}

#circleContainer {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#circleContainer span {
    width: 30px;
    height: 30px;
    margin-top: 50px;
    border-radius: 50px;
    border: 10px solid white;
    background-color: white
}

#circleContainer span.complete {
    background-color: green;
    content: "🎮"
}


#inputContainer, .fallZone {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.fallZone {
    position: absolute;
}

#topDisplayWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#topDisplayContent {
    max-width: 600px;
    position: relative;
    width: 100%;
    padding: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hintText {
    position: absolute;
    bottom: 50px;
    width: 70%;
    font-size: 20pt;
    text-align: center;
    margin-bottom: 20px;
}
/* Buttons */
#replayButton, #scoreModalButton {
    background-color: #057108;
    bottom: 20%;
    left: 40%;
    color: white;
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer; 
    border: none; 
    border-radius: 5px;
    outline: none;
}
  
#replayButton:hover, #scoreModalButton:hover {
    background-color: #003002;
}
/* Button for returning to main menu */
#quitButton {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #870000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#quitButton:hover {
    background-color: #400000;
}

.letters input {
    width: 60px;
    height: 60px;
    margin: 4px;
    pointer-events: none;
    border: 1px solid black;
    text-align: center;
    border-radius: 15px;
    font-size: 25pt;
    text-transform: uppercase;
    color: black;
    background-color: rgb(76, 159, 177);
}

.hidden {
    display: none !important;
}

#scoreModalWrapper {
    animation: appear 0.5s ease-in-out;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3)
}

#scoreModal {
    position: relative;
    margin-top: 120px;
    width: 400px;
    height: 300px;
    border: 5px #e69d02 solid;
    border-radius: 30px;
    background-color: #1B4965;
}

#scoreModalContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    text-align: center;
}

#scoreBorder {
    background-color: #0D2331;
    border-radius: 50px;
    border: 5px solid #e69d02;
}

#scoreBorder p {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}

#scoreBorder h1 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    font-size: 25pt;
}

#scoreModalContent * {
    width: 100%;
}

#scoreCrown {
    margin-right: 30px;
    top: -90px;
    width: 140px;
    height: auto;
    position: absolute;
}

#scoreGrade {
    position: absolute;
    right: -30px;
    top: -80px;
    text-shadow: 5px 5px black;
    font-size: 50pt;
    transform: rotateZ(10deg);
}

#scoreModalButton {
    margin-top: 30px;
}

@keyframes appear {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}


@keyframes fall {
    100% {
        transform: translateY(500px) rotateZ(5deg);
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes success {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 0.6;
        background-color: #057108;
    }
    100% {
        opacity: 1;
        background-color: rgb(76, 159, 177);
    }
}