body {
    background-color: rgb(27, 61, 68);
    color: #F1F4F9;
    margin: 0;
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#timerDisplay {
    position: absolute;
    font-size: 2em;
    margin-top: -250px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circleContainer {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#circleContainer div {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 4px solid white;
    background-color: none;
    position: relative;
    margin: 10px;
}

.circlemark {
    position: absolute;
    height: 35px;
    width: 35px;
}

@keyframes completed {
    100% {
        opacity: 1;
    }
    70% {
        opacity: 0.6;
    }
    0% {
        opacity: 1;
    }
}


#circleContainer div.retry {
    border-color: rgb(255, 91, 7);
}

#circleContainer div.retry.complete {
    background-color: orange;
}

#circleContainer div.complete {
    background-color: green;
}

#circleContainer div.failed {
    background-color: rgb(78, 6, 6);
}

#circleContainer div.current {
    border-color: gold !important;
}

#circleContainer div.transparent {
    opacity: 0;
}

#circleContainer div.failed.animating {
    animation: completed 0.2s;
    transition: 0.5s;
}

#circleContainer div.complete.animating {
    animation: completed 0.2s;
    transition: 0.5s;
}

#circleContainer div.fall {
    animation: fall 0.4s;
}

#circleContainer div.appear {
    opacity: 1;
    transition: 4s
}


#inputContainer, .fallZone {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.fallZone {
    position: absolute;
}

#topDisplayWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#topDisplayContent {
    max-width: 600px;
    position: relative;
    width: 100%;
    padding: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hintText {
    position: absolute;
    bottom: 50px;
    width: 70%;
    font-size: 20pt;
    text-align: center;
    margin-bottom: 20px;
}
/* Buttons */
#replayButton {
    background-color: #057108;
    bottom: 20%;
    left: 40%;
    color: white;
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer; 
    border: none; 
    border-radius: 5px;
    outline: none;
}
  
#replayButton:hover {
    background-color: #003002;
}
/* Button for returning to main menu */
#quitButton {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #870000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#quitButton:hover {
    background-color: #400000;
}

.letters input {
    width: 60px;
    height: 60px;
    margin: 4px;
    pointer-events: none;
    border: 1px solid black;
    text-align: center;
    border-radius: 15px;
    font-size: 25pt;
    text-transform: uppercase;
    color: black;
    background-color: rgb(76, 159, 177);
}

.hidden {
    display: none !important;
}

@keyframes appear {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}


@keyframes fall {
    100% {
        transform: translateY(500px) rotateZ(5deg);
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes success {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 0.6;
        background-color: #057108;
    }
    100% {
        opacity: 1;
        background-color: rgb(76, 159, 177);
    }
}