#scoreModalWrapper {
    top: 0px;
    animation: appear 0.5s ease-in-out;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3)
}

#scoreModalContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    text-align: center;
}

#scoreGrade {
    position: absolute;
    right: -30px;
    top: -80px;
    text-shadow: 5px 5px black;
    font-size: 50pt;
    transform: rotateZ(10deg);
}

#scoreAndTimerGrade {
    position: absolute;
    right: -30px;
    top: -80px;
    text-shadow: 5px 5px black;
    font-size: 50pt;
    transform: rotateZ(10deg);
}

#scoreModalButton {
    margin-top: 30px;
}

#scoreModalButton {
    background-color: #057108;
    bottom: 20%;
    left: 40%;
    color: white;
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer; 
    border: none; 
    border-radius: 5px;
    outline: none;
}

#scoreModalButton:hover {
    background-color: #003002;
}

#scoreAndTimerModalButton {
    background-color: #057108;
    bottom: 20%;
    left: 40%;
    color: white;
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer; 
    border: none; 
    border-radius: 5px;
    outline: none;
    margin-top: 30px;
}

#scoreAndTimerModalButton:hover {
    background-color: #003002;
}


.scores {
    background-color: #0D2331;
    border-radius: 50px;
    border: 5px solid #e69d02;
}

.scores p {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}

.scores h1 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    font-size: 25pt;
}

#scoreModalContent * {
    width: 100%;
}

#scoreCrown {
    margin-right: 30px;
    top: -90px;
    width: 140px;
    height: auto;
    position: absolute;
}

#timerBorder {
    margin-top: 10px
}

#scoreAndTimerModal,
#scoreModal {
  /* Initially hidden */
  opacity: 0;
  visibility: hidden;
  /* Centered on the screen */
  position: relative;
  left: 200px; 
  transform: translate(-50%, -50%) scale(0);
  /* Add transition for smooth animation */
  transition: opacity 0.5s ease, visibility 0.5s ease;
  /* Add animation properties */
  animation: modalAnimation 1.5s ease forwards 0.5s;
}

#scoreModal {
    margin-top: 290px;
    width: 400px;
    height: 300px;
    border: 5px #e69d02 solid;
    border-radius: 30px;
    background-color: #1B4965;
}

#scoreAndTimerModal {
    margin-top: 310px;
    width: 400px;
    height: 400px;
    border: 5px #e69d02 solid;
    border-radius: 30px;
    background-color: #1B4965;
}

@keyframes modalAnimation {
  0% {
    transform: translate(-50%, -50%) scale(0) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
  }
}

#scoreAndTimerModal.show,
#scoreModal.show {
  /* Make it visible */
  opacity: 1;
  visibility: visible;
}
